.mobile-view {
  display: none;
}

table {
  border-collapse: collapse;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

th {
  border-bottom: 1px solid #eee;
  color: #888;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 8px;
  text-align: left;
  white-space: nowrap;
}

.row-tournament-name {
  width: 40%;
}

td {
  border-bottom: 1px solid #eee;
  font-size: 14px;
  padding: 4px 8px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

.filters {
  margin: 10px 0;
}

.reset-button {
  font-size: 14px;
  padding: 0.2px 4px 0px 4px;
}

.filter {
  font-size: 14px;
  padding: 0.25px 0px 0.25px 0px;
  margin-right: 2px;
}

.footer {
  margin: 7px 0 10px;
  color: #888;
  font-size: 14px;
  padding: 4px 8px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: table;
  }

  th,
  td {
    font-size: 12px;
    padding: 2px 4px;
  }

  .row-tournament-name {
    width: 50%;
  }

  .date-details,
  .location-details,
  .tournament-details {
    font-size: 10px;
    color: #888;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
  }

  .reset-button,
  .filter {
    font-size: 12px;
    flex: 1 1 100%;
    margin-bottom: 3px;
  }

  .footer {
    font-size: 12px;
  }

}