div {
  margin: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

th {
  border-bottom: 1px solid #eee;
  color: #888;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 8px;
  text-align: left;
  white-space: nowrap;
}

.row-tournament-name {
  width: 40%;
}

td {
  border-bottom: 1px solid #eee;
  font-size: 14px;
  padding: 4px 8px;
}

.row-location,
.row-course,
a {
  color: #000;
  text-decoration: none;
}

.row-location:hover,
.row-course:hover,
a:hover {
  cursor: pointer;
  color: #222;
  text-decoration: underline;
}

.filters {
  display: inline-flex;
  margin: 10px 0;
  font-size: 14px;
}

.filter-row-1,
.filter-row-2,
.filter-row-3 {
  display: flex;
}

.filter {
  padding: 1px;
  margin: 0px 2px;
}

.button {
  padding: 1px 5px 1px 5px;
}

.footer {
  margin: 7px 0 10px;
  color: #888;
  font-size: 14px;
  padding: 4px 8px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  th,
  td {
    font-size: 12px;
    padding: 2px 4px;
  }

  .row-tournament-name {
    width: 50%;
  }

  .date-details,
  .location-details,
  .tournament-details {
    font-size: 10px;
    color: #888;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-row-1 {
    display: flex;
    flex: 2;
    flex-direction: row;
    flex-basis: 100%;
  }

  .filter-row-2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-basis: 100%;
  }

  .filter-row-3 {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-basis: 100%;
  }

  .filter-row-4 {
    display: flex;
    flex: 2;
    flex-direction: row;
    flex-basis: 100%;
  }

  .filter {
    font-size: 12px;
    flex: 1 1 100%;
    margin: 0px 2px 3px 0px;
    width: 100%;
  }

  .footer {
    font-size: 12px;
  }

}