<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-93W1XP6Z63"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-93W1XP6Z63');
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Tournaments">
  <title>Tournaments</title>
  <link th:href="@{/css/tournaments.css}" rel="stylesheet" media="all" />
  <script th:src="@{/js/tournaments.js}"></script>
  <!-- Favicon attribution: Disc Golf Basket by Kevin from Noun Project: https://thenounproject.com/browse/icons/term/disc-golf-basket/ -->
  <link rel="shortcut icon" type="image/png" th:href="@{/img/basket.png}"/>
  <link rel="apple-touch-icon" th:href="@{/img/basket.png}">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/basket_76x76.jpg}">
  <link rel="apple-touch-icon" sizes="80x80" th:href="@{/img/basket_80x80.jpg}">
  <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/basket_120x120.jpg}">
  <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/basket_152x152.jpg}">
  <link rel="apple-touch-icon" sizes="167x167" th:href="@{/img/basket_167x167.jpg}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/basket_180x180.jpg}">
  <link rel="apple-touch-icon" sizes="256x256" th:href="@{/img/basket_256x256.jpg}">
  <link rel="apple-touch-icon" sizes="384x384" th:href="@{/img/basket_384x384.jpg}">
  <link rel="apple-touch-icon" sizes="512x512" th:href="@{/img/basket_512x512.jpg}">
</head>
<body>
<div class="filters">
  <select class="filter" id="location-filter" onchange="filterFavoriteTournaments()">
    <option value="">All Locations</option>
    <option th:each="location : ${favoriteLocations}"
            th:if="${location != 'N/A'}"
            th:value="${location}"
            th:text="${location}">
    </option>
  </select>
  <select class="filter" id="month-filter" onchange="filterFavoriteTournaments()">
    <option value="">All Months</option>
    <option value="january">January</option>
    <option value="february">February</option>
    <option value="march">March</option>
    <option value="april">April</option>
    <option value="may">May</option>
    <option value="june">June</option>
    <option value="july">July</option>
    <option value="august">August</option>
    <option value="september">September</option>
    <option value="october">October</option>
    <option value="november">November</option>
    <option value="december">December</option>
  </select>
  <select class="filter" id="tier-filter" onchange="filterFavoriteTournaments()">
    <option value="">All Tiers</option>
    <option value="a">A</option>
    <option value="b">B</option>
    <option value="c">C</option>
    <option value="xc">XC</option>
    <option value="doubles">Doubles</option>
    <option value="teams">Teams</option>
    <option value="major">Major</option>
    <option value="elite-series">Elite Series</option>
  </select>
  <button class="filter button" onclick="resetMyFilters()">Reset</button>
  <button class="filter button" onclick="window.location.href='/'">View All Tournaments</button>
</div>
<table class="desktop-view">
  <tr>
    <th>Date</th>
    <th>Competition</th>
    <th>Location</th>
    <th>Registrants</th>
    <th>Tier</th>
  </tr>
  <tr class="tournament-row" th:each="tournament : ${tournaments}">
    <td class="row-date" th:text="${tournament.dayAndMonth + ', ' + tournament.dayOfWeek}"></td>
    <td>
      <a th:text="${tournament.name}" th:href="@{${tournament.url}}" target="_blank"></a>
    </td>
    <td class="row-location" th:text="${tournament.course}" onclick="openGoogleMaps(this)"></td>
    <td hidden="hidden">
      <div class="row-location-details" th:text="${tournament.location}"></div>
    </td>
    <td>
      <a th:if="${tournament.isRegistrationOpen | tournament.registrants != 0}"
         th:text="${tournament.registrants}"
         th:href="@{|${tournament.url}/registration|}"
         target="_blank"
      ></a>
    </td>
    <td class="row-tier" th:text="${tournament.tier}"></td>
  </tr>
</table>
<table class="mobile-view">
  <tr>
    <th>Date</th>
    <th>Competition</th>
    <th>Location</th>
  </tr>
  <tr class="tournament-row" th:each="tournament : ${tournaments}">
    <td>
      <div class="row-date" th:text="${tournament.dayAndMonth}"></div>
      <div class="date-details" th:text="${tournament.dayOfWeek}"></div>
    </td>
    <td>
      <a th:text="${tournament.name}" th:href="@{${tournament.url}}" target="_blank"></a>
      <div class="tournament-details">
        <span th:if="${tournament.isRegistrationOpen || tournament.registrants != 0}">Registrants:</span>
        <span th:if="${tournament.isRegistrationOpen || tournament.registrants != 0}" th:text="${tournament.registrants}"></span>
        <span th:if="${(tournament.isRegistrationOpen || tournament.registrants != 0) && tournament.tier != ''}">&nbsp;|&nbsp;</span>
        <span th:if="${tournament.tier != ''}">Tier:</span>
        <span class="row-tier" th:if="${tournament.tier != ''}" th:text="${tournament.tier}"></span>
      </div>
    </td>
    <td class="row-location" th:text="${tournament.course}" onclick="openGoogleMaps(this)"></td>
    <td hidden="hidden">
      <div class="row-location-details" th:text="${tournament.location}"></div>
    </td>
  </tr>
</table>
</body>
</html>
