<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link th:href="@{/css/login.css}" rel="stylesheet" media="all" />
  <!-- Favicon attribution: Disc Golf Basket by Kevin from Noun Project: https://thenounproject.com/browse/icons/term/disc-golf-basket/ -->
  <link rel="shortcut icon" type="image/png" th:href="@{/img/basket.png}"/>
</head>
<body>
  <div class="login">
    <form method="post" th:action="@{/login}">
      <label for="password">Enter password</label>
      <input class="password-input" type="password" id="password" name="password" />
      <input type="hidden" name="redirect" th:value="${param.redirect}" />
      <button type="submit">Submit</button>
      <span class="login-error" th:if="${error}" style="color: red;">Invalid password</span>
    </form>
    <footer>
      <div class="footer">tournaments.tracker@gmail.com</div>
    </footer>
  </div>
</body>
</html>
