<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-93W1XP6Z63"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-93W1XP6Z63');
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Tournaments">
  <title>Tournaments</title>
  <link th:href="@{/css/tournaments.css}" rel="stylesheet" media="all" />
  <script th:src="@{/js/tournaments.js}"></script>
  <!-- Favicon attribution: Disc Golf Basket by Kevin from Noun Project: https://thenounproject.com/browse/icons/term/disc-golf-basket/ -->
  <link rel="shortcut icon" type="image/png" th:href="@{/img/basket.png}"/>
  <link rel="apple-touch-icon" th:href="@{/img/basket.png}">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/basket_76x76.jpg}">
  <link rel="apple-touch-icon" sizes="80x80" th:href="@{/img/basket_80x80.jpg}">
  <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/basket_120x120.jpg}">
  <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/basket_152x152.jpg}">
  <link rel="apple-touch-icon" sizes="167x167" th:href="@{/img/basket_167x167.jpg}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/basket_180x180.jpg}">
  <link rel="apple-touch-icon" sizes="256x256" th:href="@{/img/basket_256x256.jpg}">
  <link rel="apple-touch-icon" sizes="384x384" th:href="@{/img/basket_384x384.jpg}">
  <link rel="apple-touch-icon" sizes="512x512" th:href="@{/img/basket_512x512.jpg}">
</head>
<body>
<div class="filters">
  <select class="filter" id="location-filter" onchange="filterMyTournaments()">
    <option value="">All Locations</option>
    <option th:each="location : ${locations}"
            th:if="${location != 'N/A'}"
            th:value="${location}"
            th:text="${location}">
    </option>
  </select>
  <select class="filter" id="month-filter" onchange="filterMyTournaments()">
    <option value="">All Months</option>
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  <select class="filter" id="tier-filter" onchange="filterMyTournaments()">
    <option value="">All Tiers</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="Doubles">Doubles</option>
    <option value="XC">XC</option>
  </select>
  <button class="filter button" onclick="resetMyFilters()">Reset</button>
  <button class="filter button" onclick="window.location.href='/'">View All Tournaments</button>
</div>
<table class="desktop-view" th:if="${not isMobile}">
  <tr>
    <th>Date</th>
    <th>Competition</th>
    <th>Location</th>
    <th>Registrants</th>
    <th>Tier</th>
  </tr>
  <tr class="tournament-row" th:each="tournament : ${tournaments}">
    <td class="row-date" th:text="${tournament.dateString}"></td>
    <td>
      <a th:text="${tournament.name}" th:href="@{${tournament.url}}" target="_blank"></a>
    </td>
    <td class="row-location" th:text="${tournament.customLocation}" onclick="openGoogleMaps(this)"></td>
    <td hidden="hidden">
      <span class="row-city" th:text="${tournament.city} + ',&nbsp;'"></span>
      <span class="row-state" th:text="${tournament.state}"></span>
    </td>
    <td>
      <a th:text="${tournament.registrants}" th:href="@{|${tournament.url}/registration|}" target="_blank"></a>
    </td>
    <td class="row-tier" th:text="${tournament.tier}"></td>
  </tr>
</table>
<table class="mobile-view" th:if="${isMobile}">
  <tr>
    <th>Date</th>
    <th>Competition</th>
    <th>Location</th>
  </tr>
  <tr class="tournament-row" th:each="tournament : ${tournaments}">
    <td>
      <div class="row-date" th:text="${tournament.dayAndMonth}"></div>
      <div class="date-details" th:text="${tournament.dayOfWeek}"></div>
    </td>
    <td>
      <a th:text="${tournament.name}" th:href="@{${tournament.url}}" target="_blank"></a>
      <div class="tournament-details">
        <span>Registrants:</span>
        <span th:text="${tournament.registrants}"></span>
        <span th:if="${tournament.tier != ''}">&ensp;|&ensp;Tier:</span>
        <span class="row-tier" th:if="${tournament.tier != ''}" th:text="${tournament.tier}"></span>
      </div>
    </td>
    <td class="row-location" th:text="${tournament.customLocation}" onclick="openGoogleMaps(this)"></td>
    <td hidden="hidden">
      <span class="row-city" th:text="${tournament.city} + ',&nbsp;'"></span>
      <span class="row-state" th:text="${tournament.state}"></span>
    </td>
  </tr>
</table>
</body>
</html>
