<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tournaments</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" media="all" />
  <script th:src="@{/js/scripts.js}"></script>
</head>
<body>
<div class="filter">
  <select id="location-filter" onchange="filterByLocation(this.value)">
    <option value="">All Locations</option>
    <option th:each="location : ${locations}"
            th:if="${location != 'N/A'}"
            th:value="${location}"
            th:text="${location}">
    </option>
  </select>
</div>
<table class="desktop-view">
  <tr>
    <th>Competition</th>
    <th>Location</th>
    <th>Date</th>
    <th>Registrants</th>
    <th>Type</th>
  </tr>
  <tr class="tournament-row" th:each="tournament : ${tournaments}">
    <td>
      <a th:text="${tournament.name}" th:href="@{${tournament.url}}"></a>
    </td>
    <td class="row-location" th:text="${tournament.location != 'N/A' ? tournament.location : ''}"></td>
    <td th:text="${tournament.dateString}"></td>
    <td th:text="${tournament.registrants}"></td>
    <td th:text="${tournament.tier}"></td>
  </tr>
</table>
<table class="mobile-view">
  <tr>
    <th>Competition</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
  <tr class="tournament-row" th:each="tournament : ${tournaments}">
    <td>
      <a th:text="${tournament.name}" th:href="@{${tournament.url}}"></a>
      <div class="tournament-details">
        <span>Registrants:</span>
        <span th:text="${tournament.registrants}"></span>
        <span th:if="${tournament.tier != ''}">&ensp;|&ensp;Type:</span>
        <span th:if="${tournament.tier != ''}" th:text="${tournament.tier}"></span>
      </div>
    </td>
    <td class="row-location" th:text="${tournament.location != 'N/A' ? tournament.location : ''}"></td>
    <td th:text="${tournament.dateString}"></td>
  </tr>
</table>
</body>
</html>
