<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tournaments</title>
  <link th:href="@{/css/tournaments.css}" rel="stylesheet" media="all" />
  <script th:src="@{/js/tournaments.js}"></script>
  <!-- Favicon attribution: Disc Golf Basket by Kevin from Noun Project: https://thenounproject.com/browse/icons/term/disc-golf-basket/ -->
  <link rel="shortcut icon" type="image/png" th:href="@{/img/basket.png}"/>
</head>
<body>
<div class="filters">
  <div class="filter-row-1">
    <select class="filter" id="course-filter" onchange="filterTournaments()">
      <option value="">All Courses</option>
      <th:block th:each="course : ${courses}">
        <option th:value="${course}" th:text="${course}"></option>
      </th:block>
    </select>
  </div>
  <div class="filter-row-2">
    <select class="filter" id="city-filter" onchange="filterTournaments()">
      <option value="">All Cities</option>
      <th:block th:each="city : ${cities}">
        <option th:value="${city}" th:text="${city}"></option>
      </th:block>
    </select>
    <select class="filter" id="state-filter" onchange="filterTournaments()">
      <option value="">All States</option>
      <th:block th:each="state : ${states}">
        <option th:value="${state}" th:text="${state}"></option>
      </th:block>
    </select>
  </div>
  <div class="filter-row-3">
    <select class="filter" id="month-filter" onchange="filterTournaments()">
      <option value="">All Months</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <select class="filter" id="tier-filter" onchange="filterTournaments()">
      <option value="">All Tiers</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="Doubles">Doubles</option>
      <option value="XC">XC</option>
    </select>
  </div>
  <div class="filter-row-4">
    <button class="filter reset-button" onclick="resetFilters()">Reset</button>
  </div>
</div>
<table class="desktop-view">
  <tr>
    <th>Date</th>
    <th>Competition</th>
    <th>Course</th>
    <th>Location</th>
    <th>Registrants</th>
    <th>Tier</th>
  </tr>
  <tr class="tournament-row" th:each="tournament : ${tournaments}">
    <td class="row-date" th:text="${tournament.dateString}"></td>
    <td class="row-tournament-name">
      <a th:text="${tournament.name}" th:href="@{${tournament.url}}" target="_blank"></a>
    </td>
    <td class="row-course" th:text="${tournament.course}" onclick="openGoogleMaps(this)"></td>
    <td>
      <span class="row-city" th:text="${tournament.city} + ',&nbsp;'"></span>
      <span class="row-state" th:text="${tournament.state}"></span>
    </td>
    <td th:text="${tournament.registrants}"></td>
    <td class="row-tier" th:text="${tournament.tier}"></td>
  </tr>
</table>
<table class="mobile-view">
  <tr>
    <th>Date</th>
    <th>Competition</th>
    <th>Course</th>
  </tr>
  <tr class="tournament-row" th:each="tournament : ${tournaments}">
    <td>
      <div class="row-date" th:text="${tournament.dayAndMonth}"></div>
      <div class="date-details" th:text="${tournament.dayOfWeek}"></div>
    </td>
    <td>
      <a th:text="${tournament.name}" th:href="@{${tournament.url}}" target="_blank"></a>
      <div class="tournament-details">
        <span>Registrants:</span>
        <span th:text="${tournament.registrants}"></span>
        <span th:if="${tournament.tier != ''}">&nbsp;|&nbsp;Tier:</span>
        <span class="row-tier" th:if="${tournament.tier != ''}" th:text="${tournament.tier}"></span>
      </div>
    </td>
    <td>
      <div class="row-course" th:text="${tournament.course}" onclick="openGoogleMaps(this)"></div>
      <div class="location-details">
        <span class="row-city" th:text="${tournament.city} + ',&nbsp;'"></span>
        <span class="row-state" th:text="${tournament.state}"></span>
      </div>
    </td>
  </tr>
</table>
<footer>
  <div class="footer">tournaments.tracker@gmail.com</div>
</footer>
</body>
</html>
